@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
}

body {
    background: url("../img/fondo/fondo4.jpg");
}

/*colores*/
.color_white {
    color: rgb(255, 255, 255);
}
.color_title{
    color: rgb(165, 0, 0);
    text-decoration: underline;
}

/*fondos*/

/*nav*/
.nav_shadow{
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.nav {
    background: #292929;
}

.logo {
    width: 10rem;
    height: auto;
    justify-content: space-evenly;
}
.center_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes color {
    from {
        color: rgb(92, 92, 92);
    }

    to {
        color: rgb(255, 0, 0);
    }
}
.offcanvas-body{
    padding-left:0 ;
}
.nav-link{
    color: white;
}
.nav-link:focus{
    color: white;
}
.nav-link:hover{
    color: rgb(94, 94, 94);
    border-left:3px solid white ;
}
.nav_title {
    animation: color 2s infinite alternate linear;
    font-size: 2.5rem;
}
.dropdown-item:focus{
    background-color: rgb(197, 197, 197);
    color: rgb(0, 0, 0);
}
/*main Index*/
.novedades {
    width: 90%;
}

.container_deli {
    background-color: rgb(224, 84, 42);
    border-radius: 2rem;
}
.maxw_imgD{
    max-width: 30rem;
}
.maxw_imgD div{
    display: flex;
    justify-content: center;
}
.border{
    border: 2px solid white;
}
.border:hover{
    border: 2px solid red;
}
/*Sucursal*/
.bg-grey {
    background-color: rgb(179, 179, 179);
}

.maps {
    height: 400px;
    width: 100%;
}

/*Menu*/
.row_gap{
    row-gap: 1rem;
}

.btn_menu:hover{
    color: #292929;
}
.set_menu{
    scroll-margin-top: 11em;

}
/*Delivery*/
.btn_delivery{
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(214, 8, 8);
}
.btn_delivery:focus{
    color: rgb(145, 145, 145);
}
/*Opinion*/
.bg_red{
    background-color: rgb(151, 0, 0);
    border-radius: 5px;
}
.btn_opinion{
    background-color: white;
}
.btn:focus{
    box-shadow: none;
}
/*Footer*/
.footer {
    padding: 1rem 0;
    background-color: #161616;
    height: auto;
}

.footer_titulo {
    text-align: center;
    color: rgb(255, 255, 255);
}

.footer_text {
    text-align: center;
    color: white;
}

.redes {
    width: 60%;
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_redes {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: rgb(102, 102, 102);
    padding: 0.5rem;
    border-radius: 1rem;
    transition: background-color 1s, color 1s, box-shadow 0.5s;
}

#insta:hover {
    background-color: #E1306C;
    color: white;
    box-shadow: 0px 0px 20px #E1306C;
}

#face:hover {
    background-color: #2654af;
    color: white;
    box-shadow: 0px 0px 20px #2654af;
}

#whatsapp:hover {
    background-color: #049125;
    color: white;
    box-shadow: 0px 0px 20px #049125;
}

.footer_img {
    width: 2rem;
    display: inline-block;
}

@media screen and (min-width:576px) {

    /*footer*/
    .redes {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
}