/*Delivery*/
.cards_deli div div.card {
    height: 15rem;
    .container_text {
        height: 60%;
    }
    .btn_delivery {
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        background-color: $RojoPrincipal;
    
        &:focus {
            color: $Blanco;
            box-shadow: none;
        }
    }
}

.card-img-top{
    max-height:20rem ;
}
.precio {
    font-size: 2rem;
}
.set_deli{
    @extend .set_menu;
}
