@import "_vars";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Body*/
* {
    font-family: 'Bebas Neue', cursive;
}
body {
    background: url("../img/fondo/fondo4.jpg");
}
.color_title{
    color: $RojoPrincipal;
}


@import "_mixins";
@import "_nav";
@import "_index";
@import "_sucursal";
@import "_menu";
@import "_delivery";
@import "_opinion";
@import "_footer";
@import "_404";